.title {
	margin: auto;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
	font-family: 'Karla', sans-serif;
}

#icon:hover {
	opacity: 50%;
}

#description {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}

p {
	margin-bottom: 20px;
	margin-left: 10vw;
	margin-right: 10vw;
}

h2 {
	margin-top: 60px;
	margin-bottom: 30px;
	font-family: 'Karla', sans-serif;
}

h3 {
	font-size: 30px;
	font-family: 'Karla', sans-serif;
}

body {
	background: #FFF9C1;
	font-family: 'Merriweather', serif;
}

li {
	text-align: left;
	margin-left: 10vw;
	margin-right: 10vw;
}


#nav-bar {
	margin-top: 70px;
	margin-bottom: 30px;
    width: 100%;
    top: 15%;
    position: relative;
    text-align: center;
    transform: translateY(-50%);
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.nav-item {
    height: 40;
    width: 150px;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    transition: 0.2s;
    margin: 0px 5px;
    letter-spacing: 2px;
    transition: 0.2s all;
}

#content {
    height: auto;
    width: 70%;
    margin: 0 auto;
    /*position: relative;*/
    top: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: space-evenly;
}

.inactive {
    border: 2px solid #2f353f;
    color: #2f353f;
    fill: #2f353f;
}

.inactive:hover {
    opacity: 0.5;
}

.oily, .dry, .sensitive, .acne-prone {
    height: calc(15vw - 15px);
    width: calc(15vw - 15px);
    background: #2f353f;
    margin: 5px;
    overflow: hidden;
    position: relative;
    display: block;
}